.project {
    display: flex;
    flex-direction: row-reverse;
    width: 85%;
    border: 1px solid black;
}
.project-image {
    height: auto;
    width: 50%;
}
.project-text {
    padding: 20px;
}

.hero-intro {
    width: 75%;
}