.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: $title-font;
    margin-bottom: 80px;
    margin-top: 125px;
}
.footer-links {
    padding: 20px;
    a {
        color: $accent-color;
        font-weight: bold;
        text-decoration: none;
        padding: 15px;
        @include mobile {
            font-size: 1.3em;
        }
    }
}
.footer-text {
    font-size: 30px;
    @include mobile {
        font-size: 2em;
    }
}