.hero {
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 150px;
    @include tablet {
        width: 85%;
        margin-bottom: 100px;
    }
}
.hero-nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 100px auto 100px auto;
    max-width: 1400px;  
    @include mobile {
        margin: 75px auto 80px auto;
        flex-direction: row;
    }   
    @include tablet {
        flex-direction: column;
    }   
}
.hero-nav-left {
    flex: 1 1 0;
    align-self: flex-start;
    @include tablet {
        margin: 0 auto;
        margin-bottom: 40px;
    }  
    @include mobile {
        margin: auto;
        margin-bottom: 0px;
    }  
}
.hero-nav-right {
    flex: 1 1 0;
    padding: 0;
    text-align: right;
    @include mobile {
        flex: 1 1 0;
        display: flex;
        justify-content: space-evenly;
    }
}
.hero-title {
    color: $accent-color;
    font-family: $title-font;
    flex: 1 1 0;
    align-self: flex-start;
    font-size: 3rem;
    @include mobile {
        font-size: 2.3rem;
        text-align: center;
        margin-bottom: 15px;
    }
}
.hero-nav-list-item {
    display: inline-block;
    padding: 0 40px;
    letter-spacing: .5px;
    font-size: 1.8rem;
    transition: color .25s ease;
    :hover{
        color: #c3c5c5;
        transition-duration: 200ms;
    }
    @include mobile {
        padding: 10px;
    }
}
.hero-nav-link {
    color: $accent-color;
    font-family: $title-font;
    text-decoration: none;
    @include mobile {
        font-size: 0.8em;
    }
}

.hero-intro {
    font-family: 'Quicksand', sans-serif;
    line-height: 68px;
    font-size: 3.8rem;
    margin: 1.25em 0 2.5em 0;
    width: 80%;
    @include tablet {
        margin: 0 auto;
        margin-bottom: 60px;
        font-size: 2.8rem;
    }
    @include mobile {
        font-size: 1.6rem;
        line-height: 40px;
        margin: 0 auto;
        margin-bottom: 40px;
        width: 90%;
    }
}
.hero-employer-container {
    display: flex;
    flex-direction: column;
}
.hero-span {
    color: $accent-color;
    font-family: $title-font;
    font-size: 1.7rem;
    @include tablet {
        font-size: 2.5em;
    }
} 
.hero-image {
    width: 25%;
    @include mobile {
        width: 70%;
    }
    @include tablet {
        width: 80%;
    }
}