#project-container {
    @include mobile {
        margin-bottom: 50px;
    }
}
.project-card {
    background-color: $primary-color;
    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
    border-radius: 7px;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 60%;
    @include mobile {
        width: 90%;
        margin-bottom: 20px;
    }
}

.projects-header-container {
    border-bottom: 3px solid #85C8D1;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 120px;
    width: max-content;
    @include mobile {
        margin-bottom: 70px;
    }

    .projects-header {
        color: $accent-color;
        font-family: $title-font;
        font-size: 2rem;
    }
}
picture {
    height: 300px;
    width: 500px;
}
.project-image {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    height: 300px;
    width: 500px;
    object-fit: cover;
    @include mobile {
        width: 100%;
    }
}

.project-title {
    color: $accent-color;
    font-family: 'Alata', sans-serif;
    font-size: 2em;
    font-weight: bold;
    @include mobile {
        font-size: 1.8em;
    }
}

.project-text {
    display: flex;
    font-family: 'Quicksand', sans-serif;
    flex: 1;
    flex-direction: column;
    padding: 35px 20px 20px 40px;
    @include mobile {
        padding: 25px 10px 10px 20px;
    }
}

.project-links-container{
    border-radius: 7px;
    width: max-content;
    display: flex;
}
.material-icons{
    padding-left: 5px;
}
.project-links {
    border: 2px solid #85C8D1;
    border-radius: 7px;
    color: #85C8D1;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
    transition: all .15s ease;  
    @include button-hover;
    &:hover {
        background-color: #85C8D1;
        color: #FBFAFB;
    }
}

.project-description {
    margin: 10px 0px 40px 0px;
}

.project-stack-container {
    display: flex;
    margin-bottom: 40px;
    @include mobile {
        margin-bottom: 10px;
    }
}

.project-stack-item {
    border-radius: 7px;
    background-color: #c3c5c5;
    color: $primary-color;
    font-size: 1em;
    margin: 5px 5px 5px 0px;
    padding: 10px;
    transition: all .15s ease;    
    @include button-hover;
    @include mobile {
        padding: 8px;
        font-size: .8em;
    }
}