html {
    scroll-behavior: smooth;
}
body {
    background-color: #E5E6E4;
}
.project {
    background-color: #FBFBF2;
    box-shadow: 4px 10px 84px -23px rgba(0,0,0,0.75);
    border-radius: 7px;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 40%;
}
@media only screen and (min-width:0px) and (max-width:480px){
    .project {
        width: 100%;
        margin-bottom: 20px;
    }
}
.project-image {
    border-radius: 7px;
    height: auto;
    width: 50%;
}
.project-title {
    color: #6D5054;
    font-family: 'Alata', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.project-text {
    display: flex;
    font-family: 'Quicksand', sans-serif;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}
.project-links-container{
    background-color: #6D5054;
    border-radius: 7px;
    padding: 10px;
    width: max-content;
}
.project-links {
    color: #E5E6E4;
    text-decoration: none;
}
.hero-title {
    color: #6D5054;
    font-family: 'Alata', sans-serif;
}
.hero-nav {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 290px;
}
.hero-nav-link {
    color: #6D5054;
    font-family: 'Alata', sans-serif;
    text-decoration: none;
}
.hero-intro {
    width: 50%;
    font-family: 'Quicksand', sans-serif;
}
@media only screen and (min-width:0px) and (max-width:480px){
    .hero-intro {
        width: 90%;
    }
}
.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Alata', sans-serif;
}
.footer-links a {
    color: #6D5054;
    font-weight: bold;
    text-decoration: none;
}